<%= form_with(model: protest, class: "contents") do |form| %>
  <% if protest.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(protest.errors.count, "error") %> prohibited this protest from being saved:</h2>

      <ul>
        <% protest.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :description, "תיאור המחאה" %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :location, "מיקום המחאה" %>
    <%= form.text_field :location, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :contact_organization, "ארגון של ממלא.ת הטופס"%>
    <%= form.text_field :contact_organization, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :contact_name, "שם ממלא.ת הטופס" %>
    <%= form.text_field :contact_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :contact_phone, "טלפון ממלא.ת האירוע" %>
    <%= form.text_field :contact_phone, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :present, "כמה משתתפים ומשתתפות?" %>
    <%= form.number_field :present, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :num_in_series, "איזה מספר אירוע זה בסדרה?" %>
    <%= form.text_field :num_in_series, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :is_repeated, "האם זה אירוע מחאתי מתמשך שחוזר על עצמו?" %>
    <%= form.check_box :is_repeated, class: "block mt-2 h-5 w-5" %>
  </div>

  <div class="my-5">
    <%= form.label :type, "סוג מחאה" %>
    <%= form.text_field :type, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
