<div id="<%= dom_id protest %>" class="card text-center shadow-2xl w-50">
  <figure class="px-10 pt-10">
    <% if protest.images.first&.representable? %>
      <%= image_tag protest.images.first.variant(resize_to_limit: [500, 500]) %>
    <% else %>
      <img src="https://picsum.photos/id/1005/400/250" class="rounded-xl">
    <% end %>
  </figure>
  <div class="card-body">
    <h2 class="card-title"><%= protest.description.truncate(50) %></h2> 

    
    <% if protest.location %><div class="card-text my-2"><%= protest.location %></div><% end %>
    <% if action_name == "show" %>
      <% if protest.date %><div class="card-text my-2"><%= protest.date.strftime("%d/%m/%Y") %></div><% end %>
      <% if protest.is_repeated %>
        <div class="card-text my-2">אירוע מספר <%= protest.num_in_series %></div>
      <% end %>
      <% if protest.kind %><div class="card-text my-2"><%= protest.kind %></div><% end %>
      <% if protest.present %><div class="card-text my-2"><%= protest.present %> השתתפו</div><% end %>
      <div class="card-text my-2">
        <div><%= protest.contact_name %></div>
        <div><%= protest.contact_phone %></div>
        <div><%= protest.contact_organization %></div>
      </div>
    <% end %>

  <% if action_name != "show" %>
    <div class="justify-center card-actions">
      <%= link_to "מידע נוסף", protest, class: "btn btn-primary" %>
      <%= link_to 'עריכה', edit_protest_path(protest), class: "btn btn-ghost" if admin_signed_in? %>
    </div>
  <% end %>
  </div>
</div>
