<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @protest %>

    <div class="flex justify-around ml-2">
      <%= link_to 'עריכה', edit_protest_path(@protest), class: "btn btn-ghost" if admin_signed_in? %>
      <%= button_to 'מחיקה', protest_path(@protest), method: :delete, class: "btn btn-ghost" if admin_signed_in? %>
      <%= link_to 'חזרה', protests_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
